html,
body,
.row,
#pageview{
  height: 100%;
  padding-left:0px;
  padding-right:0px;
}
body{
  margin:0px;
}
#pairings-table{
  background-color: #272e38;
  text-align: center;
  border-top: 10px solid white;
  border-bottom: 5px solid white;
}
.login, .register{
  font-size: 1.2em;
}

#pairings-table th{
  background-color: #8b8b8b;
  text-align: center;
}

body .modal-content {
    /* new custom width */
    width: 760px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -80px;
}

.happy{
  height: 100%;
  padding:0px;

  width:100%;
  background-color: blue;
}
.mid{
  height: 100%;

  background-color: #272e38;
}

.side{
  color:white;
  font-weight: bold;
  margin:0px;
  height: 100%;
  background-color: #0f1620;
}
.btn, .btn-default:hover, .btn-default:focus{
  color:white;
  font-weight: bold;
  font-size: 1em;
  border-width: 5px;
  border-color: white;
}
.btn-danger, .btn-danger:focus{
  border-color: white;
}
.btn:hover{
  font-style: italic;
  color:white;
  font-weight: bold;
  font-size: 1em;
  border-width: 5px;
  border-color: white;
}
.btn.pairings_container{
  background-color:rgb(121, 123, 126);
}
.weather{
margin: 0 auto;
position: relative;
right: -10px;
outline:none;
font-size: 1.5em;
text-align: center;
background-color: transparent;
border-radius:5px;
border-width: 5px;
width: 300px;
}
