body{
  width:100%;
  height: 100%;
  background-color: red;
}
header{
  width:100%;
  height:15%;
  background-color: purple;
}
.container{
  float:left;
  position:relative;
  width:100%;
  height: 800px;
  background-color: blue;
}
.column{
  float:left;
  position: relative;
  height:60%;
  width:20%;
  background-color: green;
}
